html{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 15px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

.clearfix{
    content: '';
    display: table;
    clear: both;
}

.blue-button{
    padding: 7px 20px;
    background-color: #0061FF;
    color: white;
    border: none;
}


/* HEADER --------------------------------------- */

header{
    position: sticky;
    top: 0;
    background-color: white;
}

header .row{
    width: 100%;
    padding: 15px;
    top: 0;
    line-height: 1.7em;
}

header .col{
    width: 50%;
    float: left;
}

.logo-wrapper, .nav-left{
    float: left;
}

nav ul li{
    display: inline-block;
    padding: 0 15px;
}

.logo-wrapper{
    width: 20%;
}

.logo-wrapper img{
    width: 85%;
}

.nav-right, .button-wrapper{
    float: right;
}

.button-wrapper{
    width: 15%;
    text-align: right;
}


/* MAIN --------------------------------------- */

.section:first-child{
    width: 100%;
    /* height: 440px; */
    background-color: #B4D0E7;
}

.section .container{
    width: 82%;
    margin: 0 auto;
}

/* section 1 */

.row h1{
    font-size: calc(2vh + 55px);
    padding-top: 65px;
    padding-bottom: 30px;
}

.section .col:first-child{
    width: 30%;
    display: inline-block;
    padding-bottom: 65px;
}

.col > p:first-child{
    padding-bottom: 50px;
}

.col > .annulla{
    padding: 15px 0 35px 0;
}

.col i{
    font-size: 35px;
}

.col.jumbo{
    width: 70%;
    float: right;
    text-align: right;
}

.jumbo img{
    width: 90%;
}









/* DEBUG */

/*
 .container{
    border: 1px solid fuchsia;
}

.row{
    border: 1px dashed blue;
}

.col{
    border: 2px solid green;
}

}

nav{
    border: 1px solid red;
}




.logo-wrapper,.button-wrapper{
    border: 1px dashed blue;
} */
