html{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 15px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

section{
    max-width: 100%;
}

h2{
    font-size: calc(3vh + 15px);
    padding-bottom: 40px;
}

h3{
    font-size: 25px;
    padding-bottom: 10px;
}

p{
    line-height: 1.5em;
}

.container{
    max-width: 82%;
    margin: auto;
}

.small-container{
    max-width: 70%;
    margin: auto;
    padding-bottom: 100px;
}

.button{
    padding: 7px 20px;
    background-color: #0061FF;
    color: white;
    border: none;
}

/* HEADER --------------------------------------- */

header{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}

header .row{
    max-width: 100%;
    padding: 20px 15px;
    top: 0;
}

header .col{
    float: left;
}

header .col.log-in{
    float: right;
}

nav ul li{
    float: left;
    padding: 0 15px;
    line-height: 30px;
}

/* MAIN --------------------------------------- */

/* section 1 = Jumbo */

#jumbo{
    background-color: #B4D0E7;
    height: 665px;
}

#jumbo .row h1{
    font-size: calc(3vh + 50px);;
    padding: 85px 0 40px 0;
}

#jumbo .col{
    float: left;
}

#jumbo .col:first-child{
    width: 30%;
}

#jumbo .col:last-child{
    width: 70%;
    text-align: right;
}

#jumbo .col > p:first-child{
    padding-bottom: 40px;
}

#jumbo .col > .annulla{
    padding: 20px 0 35px 0;
}

#jumbo .col i{
    font-size: 35px;
}

.jumbo-img_wrapper{
    padding-bottom: 100px;
}

.jumbo-img_wrapper img{
    max-width: 93%;
}

/* section 2 = plan-section*/

#plan-section .row:first-child, #plan-section .row:nth-child(2){
    padding-bottom: 40px;
}

.fatturazione > span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid gray;
    border-radius: 50%;
    vertical-align: -2px;
}

.fatturazione > span:hover{
    border: 4px solid #0061FF;
}

.fatturazione > a{
    margin-right: 10px;
}

#plan-section .row:nth-child(2){
    margin: 0 -20px 0 -20px;
/* se guardo nell'inspector la row supera lateralmente il container ma il margine delle colonne laterali va a coincidere con il container quindi vuol dire che la sottrazione del margin della row al padding della colonna ha funzionato e ora la spaziatura è giusta */
}

#plan-section .col , #operations-section .col{
    width: calc(100%/3);
    float: left;
    padding: 20px;
}

.plan-type{
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 980px;
}

.plan-header{
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}

.plan-info,.punti-salienti{
    width: 83%;
    padding: 30px 0;
    margin: auto;
    position: relative;
}

.price{
    padding-bottom: 7px;
}

.validità{
    color: #848484;
    padding-bottom: 40px;
}

.descrizione li{
 padding-bottom: 20px;
}

.free-30days{
    margin: 20px 0;
    display: block;
    text-align: center;
}

.buy-now{
    text-decoration: underline;
    color: #0061FF;
}

.plan-info::after{
    content: '';
    position: absolute;
    top: 100%;
    width: 30%;
    height: 1px;
    left: 0;
    display: block;
    background-color: lightgray;
}

.punti-salienti h4, ul li{
    padding-bottom: 20px;
}

.fa-check{
    color: #0061FF;
}

.section-footer{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.footer-col{
    padding: 30px 20px 20px 20px;
}

.footer-col:nth-child(2){
    width: 60%;
    float: left;
}

.footer-col h4{
    padding-bottom: 30px;
}

.footer-col:nth-child(3){
    width: 40%;
    float: left;
}

.footer-col .blue-button{
    padding: 7px 50px 7px 50px;
}

/* section 3 = partener-dropbox */

#partner-dropbox .col{
    width: 50%;
    float: left; 
}

#partner-dropbox .col:nth-child(2){
    padding: 50px;
}

#partner-dropbox .col > img{
    max-width: 100%;
}

#partner-dropbox .col h3, p{
    padding-bottom: 30px;
}

#partner-dropbox .col .button{
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* section 4 = operations-section */

#operations-section img{
    width: 100%;
}

#operations-section h3{
    padding: 20px 0;
}

#operations-section a{
    text-decoration: underline;
}

/* Section 5 = team-section */

#team-section .container{
    max-width: 100%;
}

#team-section .row:first-child{
    max-width: 70%;
    margin: auto;
}

#team-section .row:first-child h2{
    max-width: 53%;
    padding-bottom: 30px;
}

#team-section .row:first-child a{
    text-decoration: underline;
    color: #0061FF;
    display: block;
    padding-bottom: 35px;
} 

#team-section .row:nth-child(2) .col{
    height: 426.3px;
    float: left;
}

#team-section .col:nth-child(odd){
    width: 30%;
}

#team-section .col:nth-child(2){
    width: 40%;
}

#team-section .col:nth-child(odd) .img-wrapper{
    width: 50%;
    height: calc(426.3px / 2);
}

#team-section .col:nth-child(odd) .img-wrapper{
    position: relative;
    float: left;
}

#team-section .col:nth-child(odd) svg{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: white;
}

#team-section .col:first-child .img-wrapper:nth-child(1){
    background: #a2d39b;
}

#team-section .col:first-child .img-wrapper:nth-child(2){
    background: #61082b
}

#team-section .col:first-child .img-wrapper:nth-child(3){
    background: #0093ce;
}

#team-section .col:first-child .img-wrapper:nth-child(4){
    background: #ff1c1c;
}

#team-section .col:last-child .img-wrapper:nth-child(1){
    background: #d50020
}

#team-section .col:last-child .img-wrapper:nth-child(2){
    background: #b4d0e7;
}

#team-section .col:last-child .img-wrapper:nth-child(3){
    background: #0d2581;
}

#team-section .col:last-child .img-wrapper:nth-child(4){
    background: #ffd830;
}

#team-section .row:nth-child(2) .col:nth-child(2){
    background: #f5f5f5;
    padding: 0px 40px;
}

#team-section .col:nth-child(2) .img-wrapper{
    width: 50%;
    position: relative;
    padding-bottom: 30px;
}

#team-section .col:nth-child(2) svg{
    fill: #000;
    width: 50%;
}

#team-section .col:nth-child(2) .img-wrapper::after{
    content: '';
    position: absolute;
    width: 18%;
    height: 2px;
    left: 0;
    top: 115px;
    display: block;
    background-color: #e4e4e6;;
}

/* Section 6 = freeTrial-section */
#freeTrial-section{
    background-color: #b4d0e7;
    padding-top: 100px;
}

#freeTrial-section .col:first-child{
    width: 70%;
    float: left;
    color: #61082b;
}

#freeTrial-section .col:first-child h2{
    width: 70%;
    padding: 0;
}

#freeTrial-section .col:last-child{
    width: 30%;
    float: left;
}

#freeTrial-section a{
    background-color: #ffff;
    display: block;
    text-align: center;
    padding: 7px 0;
}




/* DEBUG */


/* .row{
    border: 1px dashed blue;
}

.col{
    border: 2px solid fuchsia;
} 

.container{
    border: 1px solid greenyellow;
}


#team-section .img-wrapper{
    border: 1px dashed green;
} 

nav{
    border: 1px solid red;
}

 */
